.covers-h1 {
    color: rgb(223, 143, 39);
}

.cover-text {
    text-align: center;
    font-size: 20px;
}

/*.cover {
    margin-left: 27%;
}

.original {
    margin-left: 100px;
}

@media screen and (max-width: 1700px) and (min-width: 1500px) {
    .cover {
        margin-left: 20%;
    }
}*/

.coverr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

.originall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

@media screen and (min-width: 1000px) {
    .coverr {
        margin-right: 50px;
    }
    .originall {
        margin-left: 50px;
    }
}

@media screen and (max-width: 786px) {
    .originall {
        margin-top: 20px;
    }
}

.mw {
    height: 400px;
    width: 400px;
}